@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">

    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="featurette-heading">致力於提供最高品質的精品咖啡 <span class="text-muted">讓精品咖啡溶入生活</span></h2>
            <p class="lead">
                致力於提供最高品質的精品咖啡，我們深知每一滴咖啡背後皆有其獨特故事。從挑選最上乘的咖啡豆開始，每一步驟都展示了我們的專業和熱誠。我們的咖啡師及烘培師都是真正的藝術家，他們精心烘焙每一批咖啡豆，並用心沖泡每一杯咖啡，確保每一次的味覺體驗都是一次奇蹟。我們的咖啡不只是喝的，更是一種享受，一種可以帶領您進入另一個世界的體驗。
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Product/pexels-photo-122370.jpeg" alt="Image description" class="d-block w-100 img-fluid rounded" style="height: 400px; object-fit: cover;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">咖啡風味輪 <span class="text-muted">解密咖啡中的酸甜苦鹹.</span></h2>
            <p class="lead">
                咖啡風味輪是一個用來描述和識別咖啡風味的工具。它將各種可能出現在咖啡中的味道和氣味分類並呈現在一個圓形的圖表上。利用風味輪，咖啡專業人士和愛好者可以更準確地描述和理解他們正在品嚐的咖啡的風味。它有助於提高品嚐技能和咖啡品質，我們也將他做為提升咖啡文化的重要工具。
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/Product/風味輪2.jpg" alt="Image description" class="d-block w-100 img-fluid rounded" style="height: 400px; object-fit: cover;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Coffee Review <span class="text-muted">獲得世界組織認證</span></h2>
            <p class="lead">
                我們的目的是為咖啡愛好者提供一個可靠的指南，幫助他們找到真正的頂級咖啡。無論是咖啡的香氣、口感還是風味，我們都致力於提供最全面、最深入的評論，以確保您每次的咖啡體驗都是最好的。讓Coffee Review成為您尋找完美一杯的咖啡的指南。
            </p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Product/15584462053_99a66c2cb6_z.jpg" alt="Image description" class="d-block w-100 img-fluid rounded" style="height: 400px; object-fit: cover;">
        </div>
    </div>
</div>

<style>
    .featurette-heading {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 2em;
    }

    .lead {
        font-size: 1.1em;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .featurette-divider {
        margin: 40px 0;
        border-color: #ccc;
    }

    .text-muted {
        color: #6c757d !important;
    }

    .img-fluid {
        transition: transform 0.2s;
    }

        .img-fluid:hover {
            transform: scale(1.05);
        }

    h1.text-center {
        font-size: 2.5em;
        margin-bottom: 30px;
    }
</style>
