<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eugene Bean</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prjMvcCoreEugenePersonnal.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;
            padding-bottom: 100px; /* Adjust this value based on your footer's height */
        }

        main {
            flex: 1 0 auto;
        }

        header,footer{
            color:white;
            background-color:white;

        }

        .custom-class {
            color: white;
            background-color: black;
        }

        .fs-4 {
            font-size: 2rem;
        }

        .footer {
            font-size: 1.2rem;
            height: 100px; /* Adjust this value based on your preference */
            flex-shrink: 0;
        }

        main {
            padding-bottom: 4rem; /* Space between main content and footer */
        }
    </style>
</head>
<body class="pb-3 ps-0 pe-0 m-0 p-0">
    <header class="border-bottom" >
        <div class=" d-flex flex-wrap justify-content-center py-3 mb-1">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Eugene Bean</span>
            </a>

            <ul class="nav nav-pills me-2">
                <li class="nav-item"><a href=@Url.Action("Index","Home") class="nav-link">首頁</a></li>
                <li class="nav-item"><a href="#" class="nav-link">文章</a></li>
                <li class="nav-item"><a href=@Url.Action("List","Shopping") class="nav-link">商品</a></li>
                <li class="nav-item"><a href="#" class="nav-link">關於</a></li>
                <li class="nav-item"><a href=@Url.Action("Create","User") class="nav-link">會員中心</a></li>
                <li class="nav-item"><a href=@Url.Action("CartView","Shopping") class="nav-link">購物車</a></li>

            </ul>
        </div>
    </header>
    <div class="me-0 ms-0">
        <main role="main" class="pb-3 ps-0 pe-0 m-0 p-0">
            @RenderBody()
        </main>
    </div>

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-body-secondary">© 2023 Eugene Company, Inc</p>

            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href=@Url.Action("Index","Home") class="nav-link px-2 text-body-secondary">首頁</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">文章</a></li>
            <li class="nav-item"><a href=@Url.Action("List","Product") class="nav-link px-2 text-body-secondary">商品</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">關於</a></li>
            <li class="nav-item"><a href=@Url.Action("Create","User") class="nav-link px-2 text-body-secondary">會員中心</a></li>
            <li class="nav-item"><a href=@Url.Action("CartView","Shopping") class="nav-link px-2 text-body-secondary">購物車</a></li>

            </ul>
        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
